<div class="col-md-4 offset-md-2">
    <div class="card">
        <div class="card-body">
            <form action="">
                  <div class="form-group">
                    <input type="text" name="name" [(ngModel)]="producto.name" placeholder="Nombre" class="form-control" autofocus>
                  </div>
                  <div class="form-group">
                      <textarea name="price" [(ngModel)]="producto.price" placeholder="Precio" rows="2" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                      <input type="url" name="image" [(ngModel)]="producto.image" placeholder="Image" class="form-control">
                  </div>
                  <button class="btn btn-success btn-block" (click)="edit ? updateProducto() : saveNewProducto()">
                      Save
                  </button>
            </form>
        </div>
    </div>  
  </div>
<!--Me muestra la tarjeta como queda-->
  <div class="col-md-4">
      <div class="card card-body text-center">
          <img [src]="producto.image == '' ? 'https://zenit.org/wp-content/uploads/2018/05/no-image-icon.png' : producto.image" class="card-img-top">
          <h3>{{producto.id}}. {{producto.name == '' ? 'Nombre Producto': producto.name}}</h3>
          <p>{{producto.price == '' ? 'Precio ': producto.price}}</p>
          <p>{{producto.create_at | date: 'yyyy-MM-dd'}}</p>
      </div>
  </div>