<div class="col-md-4" *ngFor="let producto of productos.productos">
    <div class="card text-center">
        <div class="card-header bg-dark d-flex justify-content-between align-items-center">
            {{producto.name}}
            <button class="btn btn-danger" (click)="deleteProducto(producto.id)">
                <i class="far fa-trash-alt"></i>
            </button>
        </div>
        
        <div class="card-body">
            <img [src]="producto.image" class="card-img-top">
            <p>$ {{producto.price}}</p>
            <a [routerLink]="['/productos/edit/', producto.id]" class="btn btn-info btn-block">
                EDIT PRODUCTOS
            </a>
        </div>
    </div>
</div>