<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" routerLink="/">GDL - Ferretería</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
            <a class="nav-link" routerLink="/productos" routerLinkActive="active"><i class="fas fa-gamepad"></i>Productos</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" routerLink="productos/add" routerLinkActive="active"><i class="fas fa-plus-circle"></i>Add Producto</a>
            </li>
        </ul>
        </div>
    </div>
  </nav>